.bugFindersPage {
    margin: 20px;
}

.bugFindersPage .no-data {
    min-height: 400px;
    color: brown;
    font-size: large;
    font-weight: 600;
}

.bugFindersPage .do-not-show {
    display: none;
}

.bugFindersPage .errorGetBugFinders {
    color: brown;
    font-weight: 500;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    .bugFindersPage {
        margin: 10px 0px;
    }
  }
  